

  .footer{
    max-width:50% !important;
  }
  
.p-1{
  background: white;
}
@media (min-width:768) {
  footer{

    margin-bottom: 30px;
  }
  
}

pre, code {
  max-width: 100%;
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
}

.bg-white{
  background: white !important;
}